# Bỏ qua file chứa mật khẩu
config.py
.env

# Bỏ qua các file dữ liệu khổng lồ
*.csv
*.parquet
*.json

# Bỏ qua thư mục chứa mô hình AI
random_forest_model/

# Bỏ qua các file rác của Python
__pycache__/
*.pyc